<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="img/About.png" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="img/about-2.jpg" alt="" style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                <h1 class="mb-4">About Us</h1>
                
                <p>We present a cutting-edge solution integrating a smartwatch with an app, connecting to a centralized database for precise location monitoring. Our app offers three interfaces: one for family real-time monitoring, one for healthcare professionals displaying historical data, and one for critical emergency alerts. This ensures constant family awareness, provides doctors with a long-term overview, and enables swift emergency responses.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>